.contents{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #393939;
    overflow: hidden;
    max-width: 20%;
    min-width: 20%;
    height: 100vh;
    top: 2.5rem;
}

.contents.hidden {
    display: none;
}

.contents a{
    color: #ffffff;
    background-color: #2f67c3;
    display: inline;
    text-align: left;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
}