.organisation{
    left: 0;
}

.organisation h2{
    color: #000000;
    margin: 6vh 0vw 0vh 0vw;
}
.organisation h3{
    color: #000000;
    margin: 0;
}

/* this divider will be used around the code more. Potentially this should be moved to another Stylesheet */
.divider{
    background-image: linear-gradient(to right, deeppink , #ffffff);;
    padding: 0.5rem;
    margin: 0;
}

.modules{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3%;
    margin: 1rem;
}

.modules a{
    border-radius: 25px;
    background-color: #58585c;
    text-align: center;
    min-width: 10%;
    padding: 1%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-size: 2vw;
}

.modules a:hover{
    background-color: #222225;
}

.courses{
    margin: 1vh 10vw 1vh 10vw;
}

/*
dashboard elements
 */

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.dashboard div:hover{
    background-color: purple;
}

.grades {
    border-radius: 15px;
    min-width: 13rem;
    max-width: 13rem;
    padding: 5%;
    max-height: 15rem;
    box-sizing: content-box;
    text-align: center;
    background-color: pink;
}

/* centers text */
.grades h1 {
    min-font-size: 20;
    padding-top: 20%;
    padding-bottom: 20%;
}

.announcements {
    border-radius: 15px;
    min-width: 50%;
    max-height: 15rem;
    box-sizing: content-box;
    padding: 2%;
    overflow-y: scroll;
    background-color: pink;
}

.calendar {
    border-radius: 15px;
    min-width: 70%;
    max-height: 15rem;
    box-sizing: content-box;
    padding: 2%;
    overflow-y: scroll;
    background-color: pink;
}

.dashboardHeader {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}