.content-stick{ /* make the content bar sticky */
    position: sticky;
    top: 0;
}

.contents{/* contents bar style */
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    background-color: #e2b9f1;
}

.contents.small{ /* contents bar side panel */
    width: 20vw;
}

.lesson-header{ /*  */
    width: 100%;
}

.lesson-header button{
    width: 100%;
    height: 3rem;
    text-align: left;
    font-size: 25px;
    background-color: #cd30a8;
    border: black;
}

.lesson-header button:hover{
    background-color: #c65cad;
}

.lesson-section{
    display: flex;
    flex-direction: column;
}

.lesson-section.hidden{
    display: none;
}

.section_content{
    width: 98%;
    margin-left: 2vw;
}

.section_button{
    width: 100%;
    height: 2.5rem;
    text-align: left;
    font-size: 20px;
    background-color: #b352a1;
    border: #000000;
}

.section_button:hover{
    background-color: #b874ac;
}


#cached-lesson{
    display: none;
}

/*
dashboard elements
 */
.dashboardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4rem;
}

.dashboardSide {
    justify-content: right;
    min-width: 20%;
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3%;
    justify-content: left;
    padding: 1rem;
}

.dashboard div:hover{
    background-color: purple;
}

.grades {
    border-radius: 15px;
    min-width: 7rem;
    max-width: 10rem;
    padding: 5%;
    max-height: 15rem;
    box-sizing: content-box;
    text-align: center;
    background-color: pink;
    flex-grow: 2;
}

/* centers text */
.grades h1 {
    min-font-size: 20;
    padding-top: 20%;
    padding-bottom: 20%;
}

.info {
    border-radius: 15px;
    min-height: 30rem;
    max-height: 30rem;
    box-sizing: content-box;
    padding: 5%;
    background-color: pink;
}

.info p {
    text-align: center;
}

.announcements {
    border-radius: 15px;
    min-width: 50%;
    max-height: 15rem;
    box-sizing: content-box;
    padding: 2%;
    overflow-y: scroll;
    background-color: pink;
    flex-grow: 2;
}

.calendar {
    border-radius: 15px;
    min-width: 65%;
    max-height: 15rem;
    box-sizing: content-box;
    padding: 2%;
    overflow-y: scroll;
    background-color: pink;
}

.dashboardHeader {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}