.content-stick{ /* make the content bar sticky */
    position: sticky;
    top: 0;
}

.contents{/* contents bar style */
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #e2b9f1;
    transition: width 0.5s;
}

.contents.small{ /* contents bar side panel */
    width: 20vw;
}

.lesson-header{ /*  */
    width: 100%;
}

.lesson-header button{
    width: 100%;
    height: 3rem;
    text-align: left;
    font-size: 25px;
    background-color: #cd30a8;
    border: black;
    cursor: pointer;
}

.lesson-header button:hover{
    background-color: #c65cad;
}

.lesson-section{
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
    height: auto;
    transform: scaleY(1);
    transform-origin: top;
}

.lesson-section.hidden{
    transform: scaleY(0);
    height: 0;
    transition-delay: 0ms !important;
    transition-duration: 0ms !important;
}

.section_content{
    width: 98%;
    margin-left: 2vw;
}

.section_button{
    width: 100%;
    height: 2.5rem;
    text-align: left;
    font-size: 20px;
    background-color: #b352a1;
    border: #000000;
    cursor: pointer;
}

.section_button:hover{
    background-color: #b874ac;
}


#cached-lesson{
    display: none;
}

