.contents{
    display: flex;
    flex-direction: column;
}

.lesson-header{
    width: 100vw;
}

.lesson-header button{
    width: 100%;
    height: 3rem;
    text-align: left;
    font-size: 25px;
}

.lesson-section{
    display: flex;
    flex-direction: column;
}

.lesson-section.hidden{
    display: none;
}

.section_content{
    width: 98vw;
    margin-left: 2vw;
}

.section_content button{
    width: 100%;
    height: 1.5rem;
    text-align: left;
    font-size: 15px;
}

/*
dashboard elements
 */

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.dashboard div:hover{
    background-color: purple;
}

.grades {
    border-radius: 15px;
    min-width: 13rem;
    max-width: 13rem;
    padding: 5%;
    max-height: 15rem;
    box-sizing: content-box;
    text-align: center;
    background-color: pink;
}

/* centers text */
.grades h1 {
    min-font-size: 20;
    padding-top: 20%;
    padding-bottom: 20%;
}

.announcements {
    border-radius: 15px;
    min-width: 50%;
    max-height: 15rem;
    box-sizing: content-box;
    padding: 2%;
    overflow-y: scroll;
    background-color: pink;
}

.calendar {
    border-radius: 15px;
    min-width: 70%;
    max-height: 15rem;
    box-sizing: content-box;
    padding: 2%;
    overflow-y: scroll;
    background-color: pink;
}

.dashboardHeader {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}