.nav-container {
    position: sticky;
    top: 0;
}

.topnav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #373737;
    overflow: hidden;
    height: 2.5rem;
}

.topnav button {
    background-color: #bfd7df;
    padding: 1rem;
}

.topnav p {
    color: #ffffff;
    margin: 0;
}

.topnav img {
    margin-left: auto;
    padding: 0rem 1rem 0rem 0rem;
}