.quiz-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #227c9d;
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid #16c3b2;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.buttons button {
    background-color: transparent;
    border: 3px solid #16c3b2;
    border-radius: 1rem;
}

.buttons button:hover {
    background-color: #6cd57e;
    color: black;
}