html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scrolling */
    height: 100%;
    width: 100%;
    /* Ensure full width */
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    /* Ensure full width */
    font-family: Arial, sans-serif;
}

.left-container {
    flex: 1;
    background-color: #787878;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2em;
    width: 37%;
    margin-left: 10%;
    /* Add padding to the left to center the elements */
    margin-right: 10%;
}

.right-container>form {
    width: 100%;
}

.middle-divider {
    width: 2px;
    height: 100%;
    background-color: grey;
}

.title {
    font-size: 3em;
    margin-bottom: 0.4em;
    /* Add space below the title */
    font-weight: bold;
}

.subtitle {
    color: grey;
    margin-bottom: 3em;
    /* Add space below the subtitle */
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
    margin-bottom: 3em;
    /* add space below the input container */
    width: 100%;
    /* Ensure the input container is full width */
}

.input-container>div:nth-of-type(2) {
    margin-top: 2em;
}

.input-container label {
    display: block;
    margin-bottom: 0.5em;
}

.input-container input {
    padding: 1.2em;
    /* Increase padding to make input thicker */
    font-size: 1em;
    width: 100%;
    /* Make input full width */
    box-sizing: border-box;
    /* Ensure padding is included in the width */
    border-radius: 10px;
    /* Add border radius */
    border: 2px solid rgba(0, 0, 0, 0.2);
    /* Black border with reduced opacity */
    outline: none;
    /* Remove default outline */
}

.input-container input.invalid {
    border: 2px solid rgba(255, 0, 0, 0.5);
    /* Red border with reduced opacity for invalid input */
}


.error-message {
    color: red;
}

.button {
    padding: 1em 1.5em;
    /* Increase padding to make button thicker */
    font-size: 1em;
    background-color: #6762ff;
    /* Change button color */
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    /* Make button full width */
    border-radius: 30px;
    /* Add border radius */
    margin-bottom: 1em;
    /* Add space below the button */
    box-sizing: border-box;
    /* Ensure padding is included in the width */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Add transition for hover effect */
}

.button:hover {
    background-color: #5752ff;
    /* Change button color on hover */
    transform: scale(1.05);
    /* Slightly increase the size on hover */
}

.footer {
    position: absolute;
    bottom: 1em;
    font-size: 0.9em;
    margin-bottom: 0;
}

.footer a {
    color: #007BFF;
    text-decoration: none;
}

.setup-2fa-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.setup-2fa-container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.qr-code-popup, .code-input-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.qr-code-popup .close-button, .code-input-popup .close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
