.download-block {
    background-color: #227c9d;
    padding: 5rem;
    border-radius: 1rem;
    border: 3px solid #16c3b2;
}

.download-block a {
    color: black;
}
.download-block a:hover {
    color:#6cd57e;
}
