.quiz-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    padding: 5rem;
    border-radius: 1rem;
    border-color: rebeccapurple;
    border-width: 1rem;
}