.modules{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3%;
    margin: 1rem;
}

.mod-buttons{
    border-radius: 25px;
    background-color: var(--secondary);
    text-align: center;
    min-width: 10%;
    padding: 1%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-size: 2vw;
}

.mod-buttons:hover{
    background-color: #222225;
}
.remove-mod{
    background-color: var(--accent);
}